# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Client CI

on:
  push:
    tags: 'client*'
    branches: [ master, staging, production ]
    paths: [ '.github/workflows/client.yml', 'stack/common', 'stack/client' ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g lerna
    - run: lerna bootstrap
    - run: CI=true lerna run test --stream --scope common -- --ci --passWithNoTests
    - run: CI=true lerna run test --stream --scope client -- --ci --passWithNoTests
    - run: CI=true lerna run build --stream --scope client -- --ci

  push_to_staging:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Push to staging
      uses: actions/checkout@v2
      with:
        persist-credentials: false
    - run: |
        git fetch --all --prune
        git checkout master
        git push origin master:staging --force
      env:
        GITHUB_TOKEN: ${{ secrets.MysticRobotsCI }}


  staging:
    if: github.event_name == 'push' && contains(github.ref, 'refs/heads/staging')
    needs: test
    runs-on: ubuntu-latest

    container: node:10.18-jessie
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i -g lerna
    - run: lerna bootstrap
    - run: CI=true lerna run build --stream --scope client -- --ci
